// Importa funções e variáveis
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$theme-colors: (
primary: #37beb0,
secondary:  #e51616,
info:       #07f71f,
warning:    #2c32dd,
);
  $prefix: 'on-';
  @import "../node_modules/bootstrap/scss/bootstrap";